<!DOCTYPE html>
<html>
  <head>
    <title>RedGit initialization</title>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>RedGit initialization completed</h1>
      <p>
        Your Reddit tokens were retrieved successfully. You can now close this
        page and start using <code>redgit</code>.
      </p>
      <dl>
        <dt>Access token:</dt>
        <dd><code><%= accessToken %></code></dd>
        <dt>Refresh token:</dt>
        <dd><code><%= refreshToken %></code></dd>
      </dl>
    </div>
  </body>
</html>
